/* Layout */
.home main {
  margin: auto 2em;
  max-width: initial;
}

.home h1 {
  color: #f98012;
  margin-bottom: 2ex;
}

footer .copyright {
  margin: 1em 2em;
  padding: 0 15px;
}

.flush-right {
  display: inline-block;
  float: right;
}

.flush-right::after {
  clear: both;
}

/* List */
#table ul {
  list-style: none;
  margin-left: 1em;
  padding-left: 0;
  text-indent: -1em;
}
#table ul li::before {
  content: "–";
  display: block;
  float: left;
  width: 1em;
}

/* Language name in lang switcher */
#language-name {
  margin-left: .5em;
}

/* Menu */
#language-switch .dropdown-menu {
  min-width: 130px;
}

/* Table */
table th,
table td {
  text-align: left;
  vertical-align: top;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

table.layout {
  width: 100%;
  table-layout: fixed;
}

table.display {
  margin: 1em 0;
}

table.display th,
table.display td {
  border: 5px solid white;
  padding: .25em .5em;
}

table.display th {
  background: #ccf2ff;
}

table.display td {
  background: #ebebeb;
}

table.responsive-table {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

table.display tr.header-row {
}

table.display tr.title-row td {
  font-weight: bold;
}

table.display th.header {
  font-weight: normal;
}

table.display th.header.tool {
  vertical-align: bottom;
}

table.display td.good {
  background: rgba(0, 143, 0, 0.2);
}

table.display td.bad {
  background: rgba(255, 38, 0, 0.2);
}

table.display td.neutral {
  background: rgba(255, 251, 0, 0.17);
}

/* Small screen layout */
@media screen and (max-width: 1023px) {
  .home main {
    margin: auto 0;
    max-width: initial;
  }

  table.responsive-table {
    box-shadow: none;
  }

  table.responsive-table thead {
    display: none;
  }

  table.display th,
  table.display td {
    border: none;
    padding: .5em;
  }

  table.display td {
    border-bottom: 2px solid white;
  }

  table.display td:last-child {
    border: none;
  }

  table.display tr.title-row td {
    background: #ccf2ff;
  }

  table.responsive-table td:before {
    /* position: absolute; */
    /* left: .5em; */
    display:block;
    font-weight: bold;
    font-style: italic;
    padding-right: 1em;
    min-width: 6em;
  }

  table.responsive-table td:nth-child(2),
  table.responsive-table td:nth-child(3) {
     /* padding-left: 6em; */
  }

  table.responsive-table tr,
  table.responsive-table td {
    display: block;
  }

  table.responsive-table tr {
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  table.responsive-table td {
    border-top: none;
  }

}

/* Print formatting */
@media print {
  @page {
    size: A4 portrait;
    margin: 5mm;
  }
  body {
    padding: 0;
    font-size: 8pt;
    line-height: 1.45;
    border-top: var(--border-width) solid var(--accent);
  }
  main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none;
  }
  .home h1 {
    font-size: 15pt;
    font-weight: bold;
    color: #f98012 !important;
    text-align: left;
    margin: 9pt 4pt 12pt;
    padding-bottom: 12pt;
    border-bottom: 2px solid lightgray;
  }
  .home h1 img {
    height: 25pt;
    padding-left: 4pt;
    float: right;
  }
  footer .copyright {
    margin: 1em 0;
    padding: 0;
  }
  a[href]:after {
    content: none;
  }
  table.display th {
    background: #ccf2ff !important;
  }
  table.display td {
    background: #ebebeb !important;
  }
  table.display td.good {
    background: rgba(0, 143, 0, 0.2) !important;
  }
  table.display td.bad {
    background: rgba(255, 38, 0, 0.2) !important;
  }
  table.display td.neutral {
    background: rgba(255, 251, 0, 0.17) !important;
  }
  table {
    font-family: Georgia, "Times New Roman", Times, serif;
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
}

/* Nav bar fix for narrow screens */
@media screen and (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}
