/**
Colors
 **/

/* Defaults colors */
$header-color: #ccf2ff; /* This should not be transparent */
$good-color: rgba(0, 143, 0, 0.2);
$neutral-color: rgba(255, 251, 0, 0.17);
$bad-color: rgba(255, 38, 0, 0.2);
$gray-column-color: #ebebeb;

.b {
  background-color: $header-color;
}

.g {
  background-color: $good-color;
}

.r {
  background-color: $bad-color;
}

.y {
  background-color: $neutral-color;
}

/* Accessible colors */
$accessible-header-color: #89c4f4; /* This should not be transparent */
$accessible-good-color: rgba(0, 165, 102, 0.3);
$accessible-neutral-color: rgba(247, 202, 24, 0.6);
$accessible-bad-color: rgba(210, 82, 178, 0.3);
$accessible-gray-column-color: #ebebeb;

.accessible-colors .b {
  background-color: $accessible-header-color;
}

.accessible-colors .g {
  background-color: $accessible-good-color;
}

.accessible-colors .r {
  background-color: $accessible-bad-color;
}

.accessible-colors .y {
  background-color: $accessible-neutral-color;
}

/**
Layout for desktop and laptop
 **/

/* Main layout */
.home main {
  margin: auto 2em;
  max-width: initial;
}

.home h1 {
  color: #f98012;
  margin-bottom: 2ex;
}

footer .copyright {
  margin: 1em 2em;
  padding: 0 15px;
}

.flush-right {
  display: inline-block;
  float: right;
}

.flush-right::after {
  clear: both;
}

/* List */
#table ul {
  list-style: none;
  margin-left: 1em;
  padding-left: 0;
  text-indent: -1em;
}
#table ul li::before {
  content: "–";
  display: block;
  float: left;
  width: 1em;
}

/* Language name in lang switcher */
#language-name {
  margin-left: .5em;
}

/* Menu */
#language-switch .dropdown-menu {
  min-width: 100%;
  text-align: right;
  column-count: 2;
}

#language-switch .dropdown-menu>li>a {
  padding: 3px 15px 0;
}

/* Table */
table th,
table td {
  text-align: left;
  vertical-align: top;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

table.layout {
  width: 100%;
  table-layout: fixed;
}

table.display {
  margin: 1em 0;
}

table.display th,
table.display td {
  border: 5px solid white;
  padding: .25em .5em;
}

table.display th {
  @extend .b !optional;
}

table.display td {
  background-color: $gray-column-color;
}

table.responsive-table {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

table.display tr.header-row {
}

table.display tr.title-row td {
  font-weight: bold;
}

table.display th.header {
  font-weight: normal;
}

table.display th.header.tool {
  vertical-align: bottom;
}

table.display td.good, .good {
  @extend .g !optional;
}

table.display td.bad, .bad {
  @extend .r !optional;
}

table.display td.neutral, .neutral {
  @extend .y !optional;
}

/* Footer */

footer {
  background-color: #f3f3f3;
  text-align: left;
}

footer h2 {
  font-size: 16px;
}

footer p {
  font-size: 14px;
}

footer a {
  color: var(--accent);
  cursor: pointer;
}

footer .legend {
  font-size: 14px;
  white-space: nowrap;
}

footer .legend-list {
  display: inline-block;
  margin: 0;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0;
}

footer .legend-item {
  display: block;
  list-style: none;
  float: none;
  height: auto;
  min-width: 12em;
  margin-bottom: 1em;
  margin-left: 0;
  text-align: left;
}

footer .legend-color
{
  display: inline-block;
  width: 30px;
  height: 1.2em;
  text-indent: -9999px;
  text-align: left;
  border: 1px solid black;
  vertical-align: text-bottom;
}

/**
Layout for small screen
 **/

@media screen and (max-width: 1023px) {
  .home main {
    margin: auto 0;
    max-width: initial;
  }

  table.responsive-table {
    box-shadow: none;
  }

  table.responsive-table thead {
    display: none;
  }

  table.display th,
  table.display td {
    border: none;
    padding: .5em;
  }

  table.display td {
    border-bottom: 2px solid white;
  }

  table.display td:last-child {
    border: none;
  }

  table.display tr.title-row td {
    background-color: $header-color;
  }

  table.responsive-table td:before {
    /* position: absolute; */
    /* left: .5em; */
    display:block;
    font-weight: bold;
    font-style: italic;
    padding-right: 1em;
    min-width: 6em;
  }

  table.responsive-table td:nth-child(2),
  table.responsive-table td:nth-child(3) {
     /* padding-left: 6em; */
  }

  table.responsive-table tr,
  table.responsive-table td {
    display: block;
  }

  table.responsive-table tr {
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  table.responsive-table td {
    border-top: none;
  }

}

/* Nav bar fix for narrow screens */
@media screen and (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

/**
Layout for printing
 **/

@media print {
  @page {
    size: A4 portrait;
    margin: 5mm;
  }
  body {
    padding: 0;
    font-size: 8pt;
    line-height: 1.45;
    border-top: var(--border-width) solid var(--accent);
  }
  main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none;
  }
  .home h1 {
    font-size: 15pt;
    font-weight: bold;
    color: #f98012 !important;
    text-align: left;
    margin: 9pt 4pt 12pt;
    padding-bottom: 12pt;
    border-bottom: 2px solid lightgray;
  }
  .home h1 img {
    height: 25pt;
    padding-left: 4pt;
    float: right;
  }
  footer .copyright {
    margin: 1em 0;
    padding: 0;
  }
  a[href]:after {
    content: none;
  }
  table.display th {
    background-color: $header-color !important;
  }
  table.display td {
    background-color: $gray-column-color !important;
  }
  table.display td.good {
    background-color: $good-color !important;
  }
  table.display td.bad {
    background-color: $bad-color !important;
  }
  table.display td.neutral {
    background-color: $neutral-color !important;
  }
  table {
    font-family: Georgia, "Times New Roman", Times, serif;
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
}
