/* Layout */
.home main {
  margin: auto 2em;
  max-width: initial;
}

.home h1 {
  color: #f98012;
  margin-bottom: 2ex;
}

.navbar .container {
  width: auto;
  margin: auto 2em
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

footer .copyright {
  margin: 1em 2em;
  padding: 0 15px;
}

/* Table */
table th,
table td {
  text-align: left;
  vertical-align: top;
}

table.layout {
  width: 100%;
  table-layout: fixed;
}

table.display {
  margin: 1em 0;
}

table.display th,
table.display td {
  border: 5px solid white;
  padding: .25em .5em;
}

table.display th {
  background: #ccf2ff;
}

table.display td {
  background: #ebebeb;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

table.responsive-table {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

table.display tr.header-row {
}

table.display tr.title-row td {
  font-weight: bold;
}

table.display th.header {
  font-weight: normal;
}

table.display th.header.tool {
  vertical-align: bottom;
}

table.display td.good {
  background: rgba(0, 143, 0, 0.2);
}

table.display td.bad {
  background: rgba(255, 38, 0, 0.2);
}

table.display td.neutral {
  background: rgba(255, 251, 0, 0.17);
}

@media (max-width: 1023px) {
  .home main {
    margin: auto 0;
    max-width: initial;
  }

  table.responsive-table {
    box-shadow: none;
  }

  table.responsive-table thead {
    display: none;
  }

  table.display th,
  table.display td {
    border: none;
    padding: .5em;
  }

  table.display td {
    border-bottom: 2px solid white;
  }

  table.display td:last-child {
    border: none;
  }

  table.display tr.title-row td {
    background: #ccf2ff;
  }

  table.responsive-table td:before {
    /* position: absolute; */
    /* left: .5em; */
    display:block;
    font-weight: bold;
    font-style: italic;
    padding-right: 1em;
    min-width: 6em;
  }

  table.responsive-table td:nth-child(2),
  table.responsive-table td:nth-child(3) {
     /* padding-left: 6em; */
  }

  table.responsive-table td:nth-child(1):before {
  }

  table.responsive-table td:nth-child(2):before {
    content: "{{ i18n "EaseOfUse" }}";
  }

  table.responsive-table td:nth-child(3):before {
    content: "{{ i18n "Transfer" }}";
  }

  table.responsive-table td:nth-child(4):before {
    content: "{{ i18n "Evaluation" }}";
  }

  table.responsive-table td:nth-child(5):before {
    content: "{{ i18n "Interaction" }}";
  }

  table.responsive-table td:nth-child(6):before {
    content: "{{ i18n "Creation" }}";
  }

  table.responsive-table td:nth-child(7):before {
    content: "{{ i18n "BloomLevels" }}";
  }

  table.responsive-table tr,
  table.responsive-table td {
    display: block;
  }

  table.responsive-table tr {
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }

  table.responsive-table td {
    border-top: none;
  }

}

/* List */
#table ul {
  list-style: none;
  margin-left: 1em;
  padding-left: 0;
  text-indent: -1em;
}
#table ul li::before {
  content: "–";
  display: block;
  float: left;
  width: 1em;
}
