<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    {{ range .Site.Params.highlightLanguages }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script>
    {{ end }}
    <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-table-headers/0.1.24/js/jquery.stickytableheaders.min.js" integrity="sha256-kTXemhq5kUIpZCEmAXiorotGjAsJH9s0giJaAV1BUXk=" crossorigin="anonymous"></script>

<!-- bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.12.0/js/bootstrap-tour.min.js" integrity="sha256-ivsfKto6+ceoECsujcAexF1hossjx7Ka2CSqCbm1l4A=" crossorigin="anonymous"></script>

<!-- custom -->
{{ $resource := .Site.Params.js }}
{{ if $.Site.IsServer }}
  {{ $jsFile := resources.Get $resource | resources.ExecuteAsTemplate (printf "%s/%s" $.Site.Language $resource) . }}
  <script src="{{ $jsFile.Permalink }}"></script>
{{ else }}
  {{ $jsFile := resources.Get $resource | resources.ExecuteAsTemplate (printf "%s/%s" $.Site.Language $resource) . | minify | fingerprint }}
  <script src="{{ $jsFile.Permalink }}" integrity="{{ $jsFile.Data.Integrity }}"></script>
{{ end }}

<!-- https://github.com/jmosbech/StickyTableHeaders -->
<script>$('#table').stickyTableHeaders({fixedOffset: $('.navbar-fixed-top')});</script>

<!-- dismiss expanded navigation bar with click -->
<script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script>
