<ul class="nav navbar-nav navbar-right">
{{ with .Rotate "language" }}
  <li id="language-switch" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe fa-lg" aria-hidden="true"></i><span id="language-name">{{- $.Site.Language.Label -}}</span></a>
    <ul class="dropdown-menu">
    {{ range . }}
      {{ if not (eq .Site.Language $.Site.Language) }}
        <li><a href="{{ .RelPermalink }}">{{ .Site.Language.Label }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </li>
{{ end }}
</ul>
