{{ with index .Site.Data.toolguide .Site.Language.Lang }}

{{ $table := .wholetable }}

<!-- {{ printf "#v:%#v)" $table }}<br><br><br> -->

{{ range $rows := $table }}
  {{ printf "#v:%#v)" $rows }}<br><br>
  {{ range . }}
    {{ range . }}
      {{ . }}
    {{ end }}
  {{ end }}<br><br>
{{ end }}


<div>
<table class="layout display responsive-table">
{{ range $table }}
  {{ range $key, $value := . }}
      <thead>
        <tr>
          {{ range $value }}
            <th class="{{ . }}">{{ . }}</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        <tr class="title-row">
          <td colspan="10"></td>
        </tr>
<!--
        <tr>
            <td class="{{ . }}">{{ . }}</td>
        </tr>
 -->
      </tbody>
  {{ end }}
{{ end }}
</table>
</div>

{{ end }}

